<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CryptoidCoder Availability</title>
	<link rel="icon" type="image/x-icon" href="{{url_for('.static', filename='images/favicon.ico')}}">

	<link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='css/bootstrap.min.css')}}">
	<link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='css/style.css')}}">

	<!--Footer-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet"> 

  </head>
  <body>

    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h2>
					CryptoidCoder Availability
				</h2>
				<h3>
					Showing: {{ current_status }}
				</h3>
				<p>
					An app designed by CryptoidCoder to show the availability of him.
				</p>
				<p>
					<a class="btn btn-primary btn-large" href="https://github.com/CryptoidCoder/Availability">Learn more</a>
				</p>
			</div>
			<div class="row">
				<div class="col-md-3">
					<div class="traffic-light">
						<div class="{{ light_colour }} light"></div>
					</div>
				</div>
				<div class="col-md-3">
					<h2>Different Date</h2>
					<form action="results" method="POST">
						<label for="Date">Date:</label><br>
						<input type="date" id="date" name="date"><br>
						<label for="starttime">Start Time:</label><br>
						<input type="time" id="starttime" name="starttime"><br>
						<label for="endtime">End Time:</label><br>
						<input type="time" id="endtime" name="endtime"><br>
						<input type="submit" value="Submit">
					</form>
				</div>
				<div class="col-md-6">
					<h2>
						Codes:
					</h2>
					<p>
						These may not mean the entire time entered, it may only be part of it - for more accurate results please narrow the start/end times.
					</p>
					<ul>
						<li>If The Light Is Green (The Bottom One) - Then CryptoidCoder Is Free To Talk / Message.</li>
						<li>If The Light Is Amber (The Middle One) - Then CryptoidCoder Is Free To Message & Can Only Be Called If An Emergency.</li>
						<li>If The Light Is Red (The Top One) - Then CryptoidCoder Is Unable To Talk / Message.</li>
					</ul>
					<p>
						<a class="btn" href="https://github.com/CryptoidCoder/Availability/blob/main/README.md#colour-code-explanations">View details »</a>
					</p>
					<div class="message">
						<h1>{{ message }}</h1>
					</div>
					<a href="/">
						<button>Lookup Current Availability</button>
					</a> 
				</div>
			</div>
  	</div>
	</div>
	<footer>
		<div class="footer">
			<div class="row">
				<a href="https://github.com/CryptoidCoder"><i class="fa fa-github"></i></a>
				<a href="https://thecryptoid.co.uk"><i class="fa fa-globe"></i></a>
				<a href="mailto:contact@coding.thecryptoid.co.uk"><i class="fa fa-envelope"></i></a>
			</div>
			
			<hr>

			<div class="row">
				<p>
					<a href="https://thecryptoid.co.uk">theCryptoid</a> Copyright © 2023 <a href="https://coding.thecryptoid.co.uk"> CryptoidCoder </a> - All rights reserved
				</p>
			</div>
		</div>
		</footer>
</div>

    <script src="{{url_for('.static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('.static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('.static', filename='js/scripts.js')}}"></script>

</body>
</html>